<head><title>IoTFlash</title></head>
{% if nodes %}
<p>Nodes:</p>
<ul>
	{% for node in nodes %}
	<li><a href="{% url 'main:details' node.id %}">{{node.name}}</a></li>
	{% endfor %}
</ul>

{% else %}
<p>No nodes available</p>
{% endif %}

<p><a href="{% url 'main:statistics' %}">Statistics</a></p>
<p><a href="{% url 'main:management' %}">Management</a></p>
